/* Resizable columns */
.resizable-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resize-handle {
  display: inline-block;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
}

.isResizing {
  background: #ccc;
}

/* Additional styling */
.header-content {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .resizable-header {
    font-size: 0.8rem;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .resize-handle {
    width: 2px;
  }
}

/* Style for sticky columns */
.sticky-column {
  position: sticky;
  background: white; /* Ensure background covers any content behind */
  z-index: 1; /* Ensure it appears above other elements */
}

/* Style for the name column */
.sticky-name-column {
  left: 0; /* Stick to the left side */
}

/* Style for the action column */
.sticky-action-column {
  right: 0; /* Stick to the right side */
}

/* Style for sticky headers */
.sticky-header {
  position: sticky;
  background: white; /* Ensure background covers any content behind */
  z-index: 1;
  background-color: blue;
}

/* Style for the name header */
.sticky-name-header {
  left: 0; /* Stick to the left side */
}

/* Style for the action header */
.sticky-action-header {
  right: 0; /* Stick to the right side */
}
